.backVideo {
    width: 100%;
    height: 100%;

}



.DF {
    opacity: 0.2;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 200px;
    font-family: 'Pacifico', cursive;
    color: #f9e725
}

.loginBox {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 15%;
    background-color: rgb(202, 199, 199);
    padding: 15px;
    border-radius: 10px;
    height: 300px;

}

.aniTo {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}