.backVideo {
    width: 100%;
    height: 100%;

}



.DF {
    opacity: 0.2;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 230px;
    font-family: 'Pacifico', cursive;
    color: #f9e725
}

.DF:hover {
    -webkit-text-stroke: 3px rgb(220, 38, 38);
    color: transparent
}

.loginBox {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 15%;
    background-color: rgb(202, 199, 199);
    padding: 15px;
    border-radius: 10px;
    height: auto;

}

.aniTo {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.feather {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    cursor: pointer;
}

.featherBox {
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.featherBox :hover {
    filter: invert(50%);
}

@media screen and (max-width: 450px) {
    .DF {
        font-size: 50px;
    }
}

@media screen and (max-width:480px) {
    .DF {
        font-size: 100px;
    }
}

@media screen and (max-width:740px) {
    .DF {
        font-size: 150px;
    }
}

.loginBtn:hover {
    background-color: black;

}

.loginBtn {
    background-color: rgba(0, 0, 0, 0.4),

}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 15px;
}